<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".welcomeAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity2" />
        <activity android:name=".Activity3" />
        <activity android:name=".Activity4" />
        <activity android:name=".ActivityLogin" />
        <activity android:name=".ActivityStu" />
        <activity android:name=".ActivityTea" />
        <activity android:name=".ActivityPAR" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ActivityTeaClassSyllabus" />
        <activity android:name=".ActivityTeaOwnSyllabus" />
        <activity android:name=".ActivityTeaInfo" />
        <activity android:name=".ActivityTeaContact" />
        <activity android:name=".ActivityStuClassSyllabus" />
        <activity android:name=".ActivityStuInfo" />
        <activity android:name=".ActivityStuContact" />
        <activity android:name=".ActivityStuDiary" />
        <activity android:name=".ActivityParSyllabus" />
        <activity android:name=".ActivityParContact" />
        <activity android:name=".ActivityParInfo" />
        <activity android:name=".ActivityParChat"></activity>
    </application>

</manifest>